/CEXscraper/07. Listagem Descontinuados 1 a 31 de Julho 2024_wtalk.xlsx
/peridata.xlsx
/.idea
/CEXscraper/chromedriver-win64/
*.iml
/CEXscraper/target/
/CEXscraper/09. Listagem Descontinuados 1 a 30 de Setembro 2024_wtalk.xlsx
